<h1>Add a new item</h1>

<form action="/items" method="post">
  <label for="description">Item description:</label>
  <input id="description" name="description" type="text">
  <button type="submit">Add new item</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/items">View all items</a></p>
