<h1>To Do List Item Details: </h1>

<h2>@Model["item"].GetDescription()</h2>
<h3>Category: @Model["category"].GetName()</h3>

<a href='/categories/@Model["category"].GetId()/items/new'>Add another item</a>
<a href='/categories'>View all categories</a>
